@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Mukta', sans-serif;
}


#map {
    position: absolute;
}

button {
    background: rgb(23, 0, 56);
    color: white;
    border-radius: 10px;
}

#toggleForecastButton {
    position: relative;
    z-index: 5;
}

.hidden {
    display: none;
}

.buttonLabel {
    color: white;
}

.topRow {
    max-width: 100vw;
    position: relative;
    right:0;
    bottom:0;
    background-image: linear-gradient(to top, rgb(23, 0, 56, 0), rgb(23, 0, 56, 1));
    backdrop-filter: blur(10px);
}


.container {
    pointer-events: none;
}
.row {
    pointer-events: none;
}
.column {
    pointer-events: none;
}
.column>* {
    pointer-events: all;
}
.column>.row {
    pointer-events: none;
}

#todaysForecastBox {
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 75vw;
    color: white;
}

/*.relative {*/
/*    position: relative;*/
/*}*/

.coloredTop {
    max-width: 100%;
}

#todaysMoving {
    display: flex;
    align-items: end;
}

#searchAddress {
    max-width: 10%;
    padding: 0px 0px;
    margin: 0px 0px;
}

.toggleNight {
    max-width: 15%;
    height: 40px;
    margin: 25px 10px;
}

#zoomBar {
    display: flex;
    justify-content: start;
}

.forecastContainer {
    display: flex;
    align-items: end;
}

.fivedayForecastBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    background: rgb(23, 0, 56, 1);
    /*backdrop-filter: blur(10px);*/
    position:fixed;
    padding-top: 50px;
    /*left:0px;*/
    bottom:0px;
    max-width: 100vw;
}


.forecast {
    padding: 20px;
    margin: 5px 5px;
    max-width: 250px;
    width: 100%;
    align-items: center;
    color: white;
    text-align: center;
}


#formSearches {
    display: flex;
    flex-direction: row;
}

#menu {
    margin: 10px 10px;
    max-width: 10vw;
    max-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

#streets-v12 {
    margin: 2px 5px;
}

#dark-v11 {
    margin: 2px 5px;
}

#setMarker {
    border-radius: 15px;
}

#setMarkerButton {
    margin: 10px 0;
}
